NEXT_PUBLIC_SUPABASE_URL=https://yfzlqwjqptrmlgwyetqu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlmemxxd2pxcHRybWxnd3lldHF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3Mjg0OTEsImV4cCI6MjA5NDMwNDQ5MX0.CiPoHgOs-xtPiMrmx1pu1dU8KXtg3trL4chA6vOsvRI
EXPO_PUBLIC_SUPABASE_URL=https://yfzlqwjqptrmlgwyetqu.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlmemxxd2pxcHRybWxnd3lldHF1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3Mjg0OTEsImV4cCI6MjA5NDMwNDQ5MX0.CiPoHgOs-xtPiMrmx1pu1dU8KXtg3trL4chA6vOsvRI
SUPABASE_SERVICE_ROLE_KEY=
